*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: arial;
	color: white;
}

a
{
	text-decoration: none;
}

/*------------------------------Size (0px to 399px)--------------------------------------*/

.unpadded-container
{
	margin: 0px;
	padding: 0px;
	width: 100vw;
}

.header
{
	width: 100%;
	height: 20vw;
	background-color: #A07441;
}

.logo
{
	width: 80%;
	float: left;
	padding: 10px 10px 0px 10px;
}

.logo > img
{
	width: 100%;
	height: auto;
}

.header-nav
{
	width: 20%;
	float: right;
	position: relative;
	top: 25%;
	text-align: right;
	right: 5%;
}

.large-nav
{
	display: none;
}

.small-nav > ul
{
	list-style-type: none;
	position: absolute;
	display: none;
	z-index: 3;
	background-color: #A07441;
	top: 14vw;
	left: -75vw;
	width: 100vw;
	text-align: left;
}

.small-nav > ul > li
{
	padding: 3px 6px 3px 6px;
}

.small-nav > a
{
	display: block;
}

.small-nav > a > img
{
	width: 40%;
	height: auto;
}

.active-header-nav
{
	color: #282828;
}

.footer
{
	background-color: #A07441;
}

.footer > h3
{
	font-size: 15px;
	font-weight: 500;
}



/*------------------------------Size (400px to 599px)--------------------------------------*/

@media screen and (min-width: 400px)
{

	.header
	{
		height: 18vw;
	}

	.logo
	{
		width: 75%;
	}

	.header-nav
	{
		width: 18%;
	}

	.small-nav > ul
	{
		top: 13vw;
		left: -77vw;
	}

	.small-nav > ul > li > a
	{
		font-size: 18px;
	}
}


/*------------------------------Size (600px to 699px)--------------------------------------*/

@media screen and (min-width: 600px)
{

	.header
	{
		height: 15vw;
	}

	.logo
	{
		width: 70%;
	}


	.header-nav
	{
		top: 30%;
		width: 16%;
	}

	.small-nav > ul
	{
		top: 10vw;
		left: -79vw;
	}


	.small-nav > a > img
	{
		width: 35%;
	}

	.small-nav > ul > li > a
	{
		font-size: 20px;
	}
}

/*------------------------------Size (700px to 999px)--------------------------------------*/

@media screen and (min-width: 700px)
{
	.header
	{
		height: 11vw;
	}

	.logo
	{
		width: 53%;
	}

	.header-nav
	{
		top: 29%;
		width: 13%;
	}

	.small-nav > ul
	{
		top: 7.8vw;
		left: -82vw;
	}

	.small-nav > ul > li > a
	{
		font-size: 24px;
	}

}

/*------------------------------Size (1000px to 1400px)--------------------------------------*/

@media screen and (min-width: 1000px)
{

	.header
	{
		height: 6vw;
	}

	.logo
	{
		width: 30%;
	}

	.header-nav
	{
		width: 40%;
		top: 25%;
		right: 5%;
	}
	
	.small-nav
	{
		display: none;
	}

	.large-nav
	{
		display: block;
	}

	.large-nav > ul
	{
		list-style-type: none;
	}

	.large-nav > ul > li
	{
		display: inline-block;
	}

	.large-nav > ul > li > a
	{
		font-size: 25px;
		position: relative;
		top: 7px;
		padding: 0px 10px 0px 10px;
	
	}	

	.large-nav > ul > li > a:hover
	{
		color: #282828;
	
	}

}

/*------------------------------Largest (4k or higer)--------------------------------------*/

@media screen and (min-width: 1400px)
{
	.header
	{
		height: 5vw;
	}

	.logo
	{
		width: 25%;
	}

	.header-nav
	{
		width: 40%;
		top: 25%;
		right: 5%;
	}

	.large-nav > ul > li > a
	{
		font-size: 27px;
		position: relative;
		top: 7px;
		padding: 0px 10px 0px 10px;
	
	}	
	
}



